* {
  font-family: "Arial Narrow";
  font-weight: lighter;
  letter-spacing: 1px;
}

.ratingQuestionReportContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}