.responseCountContainer{
  width: 90%;
  border-radius: 5px; 
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arial Narrow";
  margin: 5px 0;
}